body, ul, li, h1, h2, a {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    /* font-family: ; */
} 

header {
    background-color: #991010;
    position: fixed;
    padding: 15px;
    text-align: center;
    z-index: 1;
    left: 0;
    right: 0;
}

header h1 {
    color: yellow;
    border: 4px solid yellow;
    padding: 4px 12px;
    display: inline-block;
    text-shadow: 1px 1px black;
}
.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
}

nav {
    background-color: #F4F4F4;
    padding: 15px;
    position: sticky;
    top: 92px;
    text-align: center;
    z-index: 1;
}

.join-nav {
    color: yellow;
    text-shadow: 1px 1px black;
}

nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li {
    display: inline-block;
    width: 25%;
    font-size: 1.3rem;
}

nav li a {
    text-decoration: none;
    color: #991010;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 50px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2 {
    color: yellow;
    font-size: 2rem;
    text-align: left;
    text-shadow: 1px 1px black;
}

article p {
    text-align: justify;
    font-size: 1.2rem;
}

.join {
    background-color: #F4F4F4;
    text-align: center;
    padding: 30px 20px;
}

.join h2 {
    font-size: 2rem;
    color: yellow;
    text-shadow: 1px 1px black;
}

form input {
    padding: 10px 0;
    margin: 10px 15px;
    border: 4px solid white;
}


button {
    padding: 10px 10px;
}

footer {
    background-color: #991010;
    color: yellow;
    text-align: center;
    text-shadow: 1px 1px black;
    padding: 10px;
}

nav li a:hover {
    text-decoration: underline;
}

.images li:hover {
    position: relative;
    bottom: 2px;
}

form input:valid {
    border: 4px solid #71d300;
}


/* CONTAINER TEST */

.container {
    position: relative;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.container .card .face.face1 .content img {
    width: 340px;
    height: 390px;
}

.container .card {
    position: relative;

}

.container .card .face {
    padding: 50px 0;
    width: 320px;
    height: 250px;
    transition: 0.3s;
}

.container .card .face.face1 {
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transform: translateY(170px);

}

.container .card:hover .face.face1 {
    transform: translateX(0);
}

.container .card .face.face1 .content {
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face2 .content {
    margin: -40px 0;
    text-align: justify;
}

.container .card .face.face2 .content p {
    margin: 35px 0;
}

/* MEDIA QUERY, RESPONSIVE STYLES */

@media screen and (max-width: 1400px) {

    h1, h2 {
        font-size: 1.8rem;
    }
    nav {
        top: 88px;
    }
    nav li {
        font-size: 1.3rem;
    }
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .container .card .face {
        width: 310px;
        height: 200px;
        transition: 0.3s;
        padding: 60px 0;
    }
}
@media screen and (max-width: 768px) {
    nav li {
        font-size: 1.5rem;
    }
}
@media screen and (max-width:  560px) {
    
    header {
        margin: 0 auto;
        right: 0;
        left: 0;
    }
    nav li {
        font-size: 1.3rem;
        display: block;
        width: 100%;
        margin: 5px 0;

    }
    .banner img {
        padding-top: 105px;
    }
    nav {
        top: 130px;
    }
    .container  {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .container .card .face {
    width: 250px;
    height: 190px;
    transition: 0.3s;
    padding: 15px 0;
    }
    .container .card .face.face1 .content img{
        width: 250px;
        height: 300px;
        padding: 0;
    }
   .container .card:hover .face.face2 .content p {
    padding: 45px 0;
   }
}

@media screen and (max-width:  414px) {
    .banner img {
        padding-top: 80px;
    }
    nav {
        top: 85px;
    }
}
@media screen and (max-width:  375px) {
    
    .banner img {
        padding-top: 105px;
    }
    nav {
        top: 130px;
    }
}